<div class="container">
    <aside class="sidebar">
        <h2>EMPLOYER DASHBOARD</h2>
    <ul>
        <li><a routerLink="/employer-dashboard/contet">Home</a></li>
        <li><a routerLink="/posts-jobs">Post Jobs</a></li>
        <li><a routerLink="/find-a-job">Posted Jobs</a></li>
        <li><a routerLink="/edit-job">Edit Jobs</a></li> 
    </ul>
    </aside>
 
    <main class="contet">
        <div class="bg-image" *ngIf="!routerOutlet.isActivated"></div>
        <router-outlet #routerOutlet="outlet"></router-outlet>
     </main>
</div>
